/********** Header section ************/

header {
  background: #070709;
  padding: 0 2.8rem;
}

.logo {
  height: 2.8rem;
  margin: 3.6rem 0;
}

/********** Hero section ************/

.hero-section {
  background: #070709;
  height: 100vh;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-txt-box {
  padding: 0 2.8rem;
  text-align: center;
}

.hero-opening-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  width: 28rem;
  margin: 0 auto;

  padding-bottom: 4rem;

  text-align: center;
  font-family: Inter;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4rem; /* 125% */

  background: radial-gradient(
    70.71% 70.71% at 50% 50%,
    rgba(235, 228, 225, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-body-text-top {
  padding-bottom: 2.4rem;
}

.hero-body-text-below {
  width: 24rem;
  margin: 0 auto;
}

.hero-btn-container {
  padding-top: 5.2rem;
  padding-bottom: 4.4rem;
}

.btn {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;

  border-radius: 0.8rem !important;
  /* border: 0.5px solid #0feffd; */
  background: rgba(29, 29, 29, 0.4);
  box-shadow: 0px 4rem 4rem 8px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(4px);

  padding: 1.2rem 2.4rem;

  display: inline-block;
  border-width: 0.5px;
  border-style: solid;
  /* Use a gradient border */
  border-image: linear-gradient(
    130deg,
    #0feffd 3.48%,
    #52ff00 53.58%,
    rgba(15, 239, 253, 0) 67.82%
  );
  border-image-slice: 1;
  transition: background-color 0.3s, color 0.3s;
}

.btn-service {
  margin-right: 2rem;
}

.hero-img-box {
  width: 100vw;
}

.hero-img {
  width: 100%;
}

/********** Services section ************/

.service-section {
  padding: 5.6rem 2.8rem;
}

.service-header {
  padding-bottom: 2.4rem;
}

.services-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  flex: none;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.service-outside-layer {
  border: 1px solid #dedede;
  align-items: flex-start;
  background-color: #f1f1f1;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 0 4rem;
  position: relative;
  transform: perspective(120rem);
  will-change: var(--framer-will-change-override, transform);
}

.service-inside-layer {
  align-items: center;
  background-color: #fff;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 3.2rem;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 2.4rem 2.4rem 4rem;
  position: relative;
  transform: perspective(120rem);
  will-change: var(--framer-will-change-override, transform);
}

.img-container {
  width: 100%;
  height: 23.6rem;
}

.service-img {
  width: 100%;
  border-radius: 1.2rem;
  height: 100%;
  object-fit: cover;
}

.service-text-container {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.service-detail {
  color: #606060;
  line-height: 2.4rem; /* 150% */

  text-align: left;
}
